{
  "openapi": "3.1.0",
  "info": {
    "title": "PA Entity Lookup x402",
    "version": "1.0.1",
    "description": "Pay-per-call Pennsylvania business entity lookup using official Pennsylvania Department of State public data. The paid API remains hosted at pa-entity-x402.floot.app; this static catalogue is discovery-only."
  },
  "servers": [
    {
      "url": "https://pa-entity-x402.floot.app/_api"
    }
  ],
  "paths": {
    "/pa-business": {
      "get": {
        "operationId": "searchPennsylvaniaBusinesses",
        "summary": "Search Pennsylvania registered businesses",
        "description": "Search Pennsylvania registered business entities by business name and return ranked public-registry matches.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Business name or distinctive search text",
            "schema": {
              "type": "string",
              "minLength": 2
            },
            "example": "OpenAI"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of ranked results",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paid lookup result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "businessName": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "filingNumber": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "registrationType": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "address1": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "address2": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "city": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "state": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "zip": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "county": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "source": {
                      "type": "string"
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "x402 v2 payment challenge. PAYMENT-REQUIRED identifies an exact $0.005 USDC payment on Base.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements",
                "schema": {
                  "type": "string"
                }
              },
              "X402-Price": {
                "schema": {
                  "type": "string",
                  "const": "$0.005"
                }
              },
              "X402-Asset": {
                "schema": {
                  "type": "string",
                  "const": "USDC"
                }
              },
              "X402-Network": {
                "schema": {
                  "type": "string",
                  "const": "eip155:8453"
                }
              },
              "X402-Pay-To": {
                "schema": {
                  "type": "string",
                  "const": "0x708f7b52b56eafd7fc1de65fc7752ed732914021"
                }
              }
            }
          }
        }
      }
    }
  }
}
